.col-md-12 .container {
	margin: 60px 0;
}
.navbar-right {
	padding: 0 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
	background: #fff;
}
.form-check label.form-check-label {
	padding-left: 20px;
}
form#logout-form {
	margin: 0;
}

/* home page */
.menu-btn {
	padding: 30px 0;
}
.menu-btn .col-btn {
	display: inline-block;
	padding: 0;
	margin: 0;
}